# pre-load data

In [2]:
# 儲存與讀取 暫存檔
from app_tools.pickle_handler import save_data, load_data
# 先執行 初始化 在讀檔
import preload.data_loader as loader
loader.initialize_data()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['6147.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['6121.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [4]:
# 測試讀檔與資料
# loader.etf_domestic_list
# loader.etf_performance
# loader.twse_listed
# loader.tpex_listed
# loader.all_yield
# loader.all_history

# update data (pickle)

In [5]:
from preload.data_update import update_from_api, update_from_crawler
# update_from_api()
# update_from_crawler()

# 繼續處理pickle資料

In [1]:
from collection.crawler.stock_history import get_history
from app_tools.pickle_handler import save_data, load_data

In [2]:
import pandas as pd

all_yield = load_data("all_yield")
# tpex_listed = load_data("tpex_listed")
# twse_listed = load_data("twse_listed")
# 將代號轉換為數字
# tpex_listed['code'] = tpex_listed['code'].apply(pd.to_numeric, errors='coerce')
# twse_listed['code'] = twse_listed['code'].apply(pd.to_numeric, errors='coerce')

# 提取所有的代號並轉換為數字
codes = [pd.to_numeric(stock['代號'], errors='coerce') for stock in all_yield]

all_history = get_history(codes)
# all_history = {}
# for code in codes:
#     stock_id = ""
#     if code in twse_listed['code'].values:
#         # print(f"{code} use TW")
#         stock_id = f"{code}.TW"
#     elif code in tpex_listed['code'].values:
#         # print(f"{code} use TWO")
#         stock_id = f"{code}.TWO"
#     else:
#         print(f"could not find {code}")
#     df = fetch_stock_data(stock_id)
#     all_history[stock_id] = df

# all_history = get_history(codes)
# all_history

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [5]:
type(all_history)
all_history.keys()

dict_keys(['1808.TW', '2548.TW', '9933.TW', '2204.TW', '2006.TW', '2303.TW', '1722.TW', '6005.TW', '1102.TW', '6147.TWO', '2206.TW', '4763.TW', '2404.TW', '2211.TW', '1210.TW', '3034.TW', '6121.TWO', '2504.TW', '5522.TW', '2301.TW', '6488.TWO', '3005.TW', '6412.TW', '4938.TW', '4904.TW', '6176.TW', '2912.TW', '2201.TW', '2385.TW', '2451.TW', '9941.TW', '1402.TW', '5434.TW', '2412.TW', '3045.TW', '4915.TW', '2474.TW', '8112.TW', '2324.TW', '2454.TW', '1504.TW', '3702.TW', '2606.TW', '3044.TW', '2105.TW', '3023.TW', '6285.TW', '1319.TW', '6239.TW', '2637.TW', '4919.TW', '2357.TW', '1216.TW', '3293.TWO', '8046.TW', '2377.TW', '2317.TW', '2356.TW', '2379.TW', '2392.TW', '2382.TW', '2634.TW', '3711.TW', '6505.TW', '2353.TW', '2395.TW', '8454.TW', '3231.TW', '4958.TW', '1476.TW', '3008.TW', '9910.TW', '2352.TW', '1101.TW', '6414.TW', '2363.TW', '2354.TW', '2027.TW', '1326.TW', '5347.TWO', '2360.TW', '2345.TW', '2383.TW', '2542.TW', '8069.TWO', '6409.TW', '2308.TW', '6781.TW', '2915.TW', '3036.TW', '3037.TW', '3406.TW', '1609.TW', '6669.TW', '2330.TW', '2492.TW', '8299.TWO', '3533.TW', '4966.TWO', '1301.TW', '2376.TW', '1590.TW', '6223.TWO', '3376.TW', '9914.TW', '6274.TWO', '1605.TW', '2327.TW', '3035.TW', '8996.TW', '1303.TW', '2049.TW', '1513.TW', '6472.TW', '2059.TW', '6531.TW', '3443.TW', '3661.TW', '3017.TW', '3653.TW', '1519.TW', '1503.TW', '3324.TWO', '9958.TW', '3529.TWO', '3706.TW', '5274.TWO', '2002.TW', '6415.TW'])

In [6]:
all_history

KeyboardInterrupt

In [14]:
import pandas as pd
all_yield = load_data('all_yield')
value =5
filter_yield = [item for item in all_yield if item['現金殖利率'] > (value/100)]
codes = [pd.to_numeric(stock['代號'], errors='coerce') for stock in filter_yield]
all_history = load_data('all_history')
# 根據 codes 生成新的字典
filtered_dict = {key: value for key, value in all_history.items() if int(key.split('.')[0]) in codes}

In [15]:
len(filter_yield)
len(codes)
filtered_dict

{'1808.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2000-02-01    2.195963    2.195963    2.195963    2.195963    0.888514
 1    2000-02-02    2.195963    2.195963    2.195963    2.195963    0.888514
 2    2000-02-03    2.195963    2.195963    2.195963    2.195963    0.888514
 3    2000-02-04    2.195963    2.195963    2.195963    2.195963    0.888514
 4    2000-02-07    2.195963    2.195963    2.195963    2.195963    0.888514
 ...         ...         ...         ...         ...         ...         ...
 6081 2024-06-28  114.000000  114.000000  112.000000  112.500000  112.500000
 6082 2024-07-01  113.000000  114.500000  111.500000  114.500000  114.500000
 6083 2024-07-02  114.500000  114.500000  113.000000  114.500000  114.500000
 6084 2024-07-03  114.500000  115.000000  112.500000  112.500000  112.500000
 6085 2024-07-05  116.000000  116.000000  114.000000  114.000000  114.000000

        Volume
 0      158359
 1           0
 2           0
 3           0
 4           0
 ...       ...
 6081  1513244
 6082  1722503
 6083   849981
 6084  2085878
 6085  1020629

 [6086 rows x 7 columns],
 '2548.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2002-08-27    3.625256    3.661877    3.515404    3.661877    0.955767
 1    2002-08-28    3.625256    3.643569    3.515404    3.643569    0.950989
 2    2002-08-29    3.606948    3.606948    3.552019    3.552019    0.927094
 3    2002-08-30    3.552019    3.552019    3.405546    3.442162    0.898421
 4    2002-09-02    3.405546    3.405546    3.222452    3.295689    0.860190
 ...         ...         ...         ...         ...         ...         ...
 5411 2024-06-28  136.500000  138.500000  135.500000  136.500000  136.500000
 5412 2024-07-01  136.500000  142.500000  136.000000  139.500000  139.500000
 5413 2024-07-02  139.000000  141.000000  137.000000  140.000000  140.000000
 5414 2024-07-03  140.500000  140.500000  138.500000  139.000000  139.000000
 5415 2024-07-05  142.000000  142.000000  138.500000  138.500000  138.500000

        Volume
 0      177504
 1       84655
 2       13654
 3      215735
 4      131080
 ...       ...
 5411  3402770
 5412  2881371
 5413  2596045
 5414  2005504
 5415  1592913

 [5416 rows x 7 columns],
 '9933.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2000-01-04  12.293419  12.693672  12.293419  12.522138   3.323114
 1    2000-01-05  12.693672  12.979566  12.579313  12.865207   3.414156
 2    2000-01-06  13.151101  13.494171  13.093926  13.322636   3.535549
 3    2000-01-07  14.237502  14.237502  13.837248  14.237502   3.778335
 4    2000-01-10  14.294677  14.637747  13.722889  14.065959   3.732812
 ...         ...        ...        ...        ...        ...        ...
 6101 2024-06-28  52.599998  53.200001  52.000000  53.000000  53.000000
 6102 2024-07-01  53.000000  53.099998  52.299999  53.099998  53.099998
 6103 2024-07-02  53.500000  53.700001  52.900002  53.200001  53.200001
 6104 2024-07-03  52.799999  53.599998  52.799999  53.400002  53.400002
 6105 2024-07-05  54.200001  55.200001  53.599998  54.599998  54.599998

         Volume
 0      6465693
 1      5369350
 2      8146771
 3     16377596
 4     11628878
 ...        ...
 6101   3993110
 6102   2636556
 6103   3519110
 6104   2831664
 6105   5786570

 [6106 rows x 7 columns],
 '2204.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2000-01-04   52.443317   52.443317   51.128124   51.292538   14.554657
 1    2000-01-05   50.963730   52.443317   50.963730   51.456932   14.601307
 2    2000-01-06   51.785721   54.416111   51.785721   54.251717   15.394349
 3    2000-01-07   55.073711   57.210899   55.073711   56.060097   15.907490
 4    2000-01-10   57.210899   57.210899   55.238106   55.566914   15.767545
 ...         ...         ...         ...         ...         ...         ...
 6101 2024-06-28  123.500000  125.500000  123.500000  124.000000  124.000000
 6102 2024-07-01  125.000000  128.000000  124.500000  125.500000  125.500000
 6103 2024-07-02  126.500000  129.500000  125.500000  129.000000  129.000000
 6104 2024-07-03  130.000000  132.000000  129.000000  129.500000  129.500000
 6105 2024-07-05  128.500000  130.500000  127.500000  127.500000  127.500000

        Volume
 0     1462902
 1     2941005
 2     5136572
 3     5599901
 4     2829852
 ...       ...
 6101  1949761
 6102  2692632
 6103  4634908
 6104  3699309
 6105  1669404

 [6106 rows x 7 columns],
 '2006.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2000-01-04  14.645321  14.645321  14.078409  14.550832   4.396011
 1    2000-01-05  14.550832  14.550832  13.983920  14.078409   4.253287
 2    2000-01-06  14.361865  14.928777  14.361865  14.456354   4.367468
 3    2000-01-07  14.645321  15.212232  14.645321  15.023266   4.538741
 4    2000-01-10  15.212232  15.401211  14.739810  14.928777   4.510193
 ...         ...        ...        ...        ...        ...        ...
 6101 2024-06-28  70.300003  71.000000  69.599998  69.599998  69.599998
 6102 2024-07-01  69.699997  71.099998  69.699997  70.900002  70.900002
 6103 2024-07-02  70.599998  71.099998  70.099998  70.800003  70.800003
 6104 2024-07-03  70.800003  72.099998  70.800003  71.400002  71.400002
 6105 2024-07-05  71.400002  72.000000  71.099998  72.000000  72.000000

         Volume
 0     12346810
 1      5830631
 2     13198513
 3     16734446
 4     12135762
 ...        ...
 6101   3031810
 6102   2942871
 6103   2836201
 6104   2546071
 6105   1266908

 [6106 rows x 7 columns],
 '2303.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2000-01-04  43.961380  44.900723  43.209900  44.524986  19.995150
 1    2000-01-05  43.585640  44.524986  43.209900  44.337120  19.910780
 2    2000-01-06  44.337120  44.337120  43.209900  43.397774  19.488939
 3    2000-01-07  42.270554  42.646294  40.955471  42.082687  18.898367
 4    2000-01-10  40.203999  43.585640  40.203999  43.209900  19.404573
 ...         ...        ...        ...        ...        ...        ...
 6101 2024-06-28  56.099998  56.200001  55.599998  55.700001  52.763153
 6102 2024-07-01  55.900002  57.299999  55.900002  56.900002  53.899883
 6103 2024-07-02  53.500000  53.500000  51.900002  52.700001  52.700001
 6104 2024-07-03  53.099998  53.299999  52.599998  52.700001  52.700001
 6105 2024-07-05  54.000000  54.099998  53.400002  53.500000  53.500000

          Volume
 0     332630460
 1     292754299
 2     248928848
 3     269228882
 4     380487972
 ...         ...
 6101   86163793
 6102  145350617
 6103  237140005
 6104  111388367
 6105   55192352

 [6106 rows x 7 columns],
 '1722.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2000-01-04  26.500000  27.071430  26.428570  26.428570  11.131079
 1    2000-01-05  26.500000  28.142860  26.500000  27.285709  11.492088
 2    2000-01-06  27.500000  28.142860  27.500000  27.785709  11.702675
 3    2000-01-07  28.500000  29.714291  28.357140  29.714291  12.514950
 4    2000-01-10  31.785709  31.785709  30.714291  31.785709  13.387383
 ...         ...        ...        ...        ...        ...        ...
 6101 2024-06-28  64.400002  65.000000  64.099998  64.300003  64.300003
 6102 2024-07-01  64.500000  64.900002  64.199997  64.400002  64.400002
 6103 2024-07-02  64.199997  64.699997  63.799999  64.099998  64.099998
 6104 2024-07-03  64.199997  64.699997  63.900002  63.900002  63.900002
 6105 2024-07-05  64.500000  65.199997  64.400002  64.800003  64.800003

         Volume
 0      7169400
 1      9508801
 2     11050494
 3     21721000
 4     23789094
 ...        ...
 6101   1599412
 6102   1550504
 6103   2007101
 6104   2659902
 6105   1453582

 [6106 rows x 7 columns],
 '6005.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2000-01-04   8.465550   8.831628   8.465550   8.831628   3.675846
 1    2000-01-05   8.831628   9.014671   8.602832   8.831628   3.675846
 2    2000-01-06   9.243467   9.426510   9.060431   9.426510   3.923444
 3    2000-01-07   9.334989   9.334989   8.923150   9.197707   3.828213
 4    2000-01-10   9.334989   9.838349   9.197707   9.838349   4.094857
 ...         ...        ...        ...        ...        ...        ...
 6101 2024-06-28  25.000000  25.350000  24.799999  25.100000  25.100000
 6102 2024-07-01  25.100000  25.500000  25.100000  25.350000  25.350000
 6103 2024-07-02  25.299999  25.400000  25.049999  25.350000  25.350000
 6104 2024-07-03  25.400000  25.950001  25.350000  25.400000  25.400000
 6105 2024-07-05  25.350000  25.400000  25.100000  25.100000  25.100000

         Volume
 0     16748344
 1     26107027
 2     48617859
 3     25256630
 4     29181542
 ...        ...
 6101   7573802
 6102   7252707
 6103   8611043
 6104  16163888
 6105   7287992

 [6106 rows x 7 columns],
 '1102.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2000-01-04  11.376563  11.376563  11.222304  11.376563   3.505384
 1    2000-01-05  11.955030  12.147857  11.877903  12.147857   3.743038
 2    2000-01-06  12.957710  12.957710  12.186421  12.263547   3.778684
 3    2000-01-07  11.955030  12.263547  11.607949  12.263547   3.778684
 4    2000-01-10  12.302116  12.533502  11.955030  12.340680   3.802450
 ...         ...        ...        ...        ...        ...        ...
 6101 2024-06-28  43.849998  44.299999  43.700001  43.849998  43.849998
 6102 2024-07-01  44.200001  44.450001  43.950001  44.200001  44.200001
 6103 2024-07-02  44.200001  44.549999  44.000000  44.049999  44.049999
 6104 2024-07-03  44.150002  45.650002  44.150002  45.650002  45.650002
 6105 2024-07-05  45.700001  45.750000  44.750000  44.750000  44.750000

         Volume
 0     27621171
 1     48017273
 2     88794362
 3     37949910
 4     41519452
 ...        ...
 6101   9032521
 6102   5975255
 6103  12127902
 6104  27511448
 6105   8254041

 [6106 rows x 7 columns],
 '6147.TWO':            Date       Open       High        Low      Close  Adj Close  \
 0    2007-12-31  31.287888  32.070084  30.994562  31.678986  12.789723
 1    2008-01-02  31.483437  31.581211  30.212366  30.310141  12.237078
 2    2008-01-03  29.674604  29.967930  29.136845  29.381283  11.862074
 3    2008-01-04  29.332394  29.674604  29.332394  29.430168  11.881809
 4    2008-01-07  27.474676  28.452421  27.376902  27.474676  11.092321
 ...         ...        ...        ...        ...        ...        ...
 4045 2024-06-28  67.400002  67.500000  67.000000  67.099998  67.099998
 4046 2024-07-01  67.199997  67.800003  66.800003  67.800003  67.800003
 4047 2024-07-02  67.900002  67.900002  67.300003  67.400002  67.400002
 4048 2024-07-03  67.800003  67.800003  67.099998  67.300003  67.300003
 4049 2024-07-05  67.000000  68.199997  67.000000  68.199997  68.199997

        Volume
 0     1926879
 1     2204047
 2     1758124
 3     1271290
 4     2757360
 ...       ...
 4045  4152000
 4046  3154000
 4047  2932000
 4048  7634000
 4049  5395742

 [4050 rows x 7 columns],
 '2206.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2000-01-04  20.022799  20.022799  19.188513  19.855936   8.682493
 1    2000-01-05  19.605646  19.605646  19.188513  19.438793   8.500087
 2    2000-01-06  18.854797  19.605646  18.854797  19.438793   8.500087
 3    2000-01-07  19.438793  19.772509  19.188513  19.689081   8.609529
 4    2000-01-10  19.855936  19.855936  19.355368  19.522221   8.536568
 ...         ...        ...        ...        ...        ...        ...
 6101 2024-06-28  78.699997  79.500000  78.599998  78.900002  78.900002
 6102 2024-07-01  79.000000  79.500000  78.599998  78.800003  78.800003
 6103 2024-07-02  78.900002  79.300003  77.699997  79.099998  79.099998
 6104 2024-07-03  79.300003  79.800003  78.500000  79.300003  79.300003
 6105 2024-07-05  77.900002  79.500000  77.000000  79.500000  79.500000

        Volume
 0      272089
 1       68322
 2      178595
 3      441097
 4      100684
 ...       ...
 6101  2575293
 6102  2143294
 6103  2549432
 6104  6597252
 6105  5785622

 [6106 rows x 7 columns],
 '4763.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2015-11-09   81.542847   96.492371   80.863327   95.133324   70.624367
 1    2015-11-10   88.338089   98.530945   87.318802   94.453804   70.119904
 2    2015-11-11   94.114037   97.511658   89.697136   90.376656   67.093147
 3    2015-11-12   90.036896   91.735703   79.844040   84.260941   62.553009
 4    2015-11-13   80.863327   86.299515   80.183800   86.299515   64.066391
 ...         ...         ...         ...         ...         ...         ...
 2101 2024-06-28  916.000000  921.000000  891.000000  891.000000  891.000000
 2102 2024-07-01  893.000000  918.000000  885.000000  896.000000  896.000000
 2103 2024-07-02  900.000000  914.000000  889.000000  897.000000  897.000000
 2104 2024-07-03  906.000000  927.000000  901.000000  927.000000  927.000000
 2105 2024-07-05  920.000000  927.000000  907.000000  907.000000  907.000000

        Volume
 0     6455992
 1     2884373
 2     1873370
 3     1882200
 4      938892
 ...       ...
 2101  1915692
 2102  1397561
 2103  1409595
 2104  2311153
 2105  1004947

 [2106 rows x 7 columns],
 '2404.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2000-01-04   28.798847   29.028116   28.569576   28.798847    5.265388
 1    2000-01-05   28.569576   30.422842   28.333939   30.193573    5.520391
 2    2000-01-06   30.193573   30.658482   29.493027   29.957933    5.477308
 3    2000-01-07   30.193573   30.193573   29.263756   29.728664    5.435390
 4    2000-01-10   30.193573   31.123388   29.728664   30.887751    5.647308
 ...         ...         ...         ...         ...         ...         ...
 6101 2024-06-28  364.500000  366.000000  360.500000  366.000000  366.000000
 6102 2024-07-01  367.500000  375.000000  364.500000  373.500000  373.500000
 6103 2024-07-02  375.000000  389.500000  363.000000  366.000000  366.000000
 6104 2024-07-03  368.500000  381.500000  366.500000  380.500000  380.500000
 6105 2024-07-05  393.000000  393.000000  383.000000  386.000000  386.000000

           Volume
 0     5242234595
 1     9111948027
 2     7921378697
 3     3942204934
 4     7392142212
 ...          ...
 6101     1079658
 6102     2358635
 6103     6344599
 6104     4093741
 6105     2185333

 [6106 rows x 7 columns],
 '2211.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2020-01-13   40.520000   49.299999   38.000000   38.400002   30.876856
 1    2020-01-14   38.950001   38.950001   37.049999   37.299999   29.992359
 2    2020-01-15   37.529999   37.529999   36.209999   36.990002   29.743095
 3    2020-01-16   36.849998   38.299999   36.799999   38.000000   30.555220
 4    2020-01-17   38.000000   40.099998   37.849998   39.049999   31.399506
 ...         ...         ...         ...         ...         ...         ...
 1082 2024-06-28  142.000000  144.000000  139.000000  139.500000  139.500000
 1083 2024-07-01  139.500000  141.500000  136.500000  137.000000  137.000000
 1084 2024-07-02  137.000000  141.000000  135.500000  137.000000  137.000000
 1085 2024-07-03  137.000000  138.000000  135.000000  137.000000  137.000000
 1086 2024-07-05  138.000000  138.000000  136.000000  136.000000  136.000000

        Volume
 0      724838
 1      408821
 2      402933
 3      310020
 4      261421
 ...       ...
 1082  1749525
 1083  1881250
 1084  3413100
 1085  4447510
 1086   375273

 [1087 rows x 7 columns],
 '1210.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2000-01-04   4.100186   4.138504   4.061868   4.138504   1.419017
 1    2000-01-05   4.176822   4.330104   4.176822   4.310941   1.478142
 2    2000-01-06   4.330104   4.445059   4.330104   4.406740   1.510990
 3    2000-01-07   4.483381   4.521699   4.406740   4.425899   1.517559
 4    2000-01-10   4.445059   4.521699   4.425899   4.445059   1.524128
 ...         ...        ...        ...        ...        ...        ...
 6101 2024-06-28  56.900002  57.299999  56.799999  57.200001  57.200001
 6102 2024-07-01  57.200001  57.200001  56.900002  57.099998  57.099998
 6103 2024-07-02  57.000000  57.099998  56.700001  56.700001  56.700001
 6104 2024-07-03  56.799999  57.099998  56.700001  57.000000  57.000000
 6105 2024-07-05  57.799999  57.900002  57.599998  57.700001  57.700001

        Volume
 0     1891987
 1     4404590
 2     4417468
 3     4080512
 4     4768819
 ...       ...
 6101  1164199
 6102  1127456
 6103  1386782
 6104  1170137
 6105  1215668

 [6106 rows x 7 columns],
 '3034.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2002-08-27   35.973625   36.430027   34.838482   34.838482    9.602875
 1    2002-08-28   34.382080   34.610279   32.562336   33.012882    9.099665
 2    2002-08-29   32.562336   32.790535   31.193136   31.649536    8.723871
 3    2002-08-30   31.877735   32.790535   31.649536   31.877735    8.786774
 4    2002-09-02   30.964937   31.877735   30.286190   30.286190    8.348079
 ...         ...         ...         ...         ...         ...         ...
 5411 2024-06-28  606.000000  611.000000  604.000000  606.000000  606.000000
 5412 2024-07-01  608.000000  620.000000  608.000000  620.000000  620.000000
 5413 2024-07-02  617.000000  628.000000  612.000000  624.000000  624.000000
 5414 2024-07-03  620.000000  620.000000  609.000000  619.000000  619.000000
 5415 2024-07-05  620.000000  622.000000  616.000000  618.000000  618.000000

           Volume
 0     4268741032
 1     8328708698
 2        8027980
 3        3851107
 4        1767721
 ...          ...
 5411     3392794
 5412     5345064
 5413     7835263
 5414     7839382
 5415     2387603

 [5416 rows x 7 columns],
 '6121.TWO':            Date        Open        High         Low       Close   Adj Close  \
 0    2007-12-31  171.788239  171.788239  166.613892  168.166183   70.726837
 1    2008-01-02  168.166183  169.718491  166.613892  166.613892   70.073997
 2    2008-01-03  163.509277  166.096451  161.439545  162.474411   68.333015
 3    2008-01-04  161.956985  163.509277  155.747772  155.747772   65.503944
 4    2008-01-07  150.573425  151.608292  144.881638  144.881638   60.933895
 ...         ...         ...         ...         ...         ...         ...
 4045 2024-06-28  433.000000  433.000000  427.000000  427.500000  415.418457
 4046 2024-07-01  428.000000  435.500000  422.000000  424.500000  412.503265
 4047 2024-07-02  424.000000  429.000000  415.500000  416.500000  404.729340
 4048 2024-07-03  418.000000  419.500000  410.500000  414.000000  402.299988
 4049 2024-07-05  394.500000  396.500000  393.000000  396.500000  396.500000

        Volume
 0      873540
 1      346903
 2      872574
 3     1211747
 4     1475549
 ...       ...
 4045   781000
 4046  1314000
 4047  1863000
 4048  2335000
 4049   749441

 [4050 rows x 7 columns]}

In [13]:
filtered_dict

{}