# pre-load data

In [3]:
# 儲存與讀取 暫存檔
from app_tools.pickle_handler import save_data, load_data
# 先執行 初始化 在讀檔
# import preload.data_loader as loader
# loader.initialize_data()

In [4]:
# 測試讀檔與資料
# loader.etf_domestic_list
# loader.etf_performance
# loader.twse_listed
# loader.tpex_listed
# loader.all_yield
# loader.all_history

# update data (pickle)

In [1]:
from preload.data_update import update_from_api, update_from_crawler
update_from_api()
# update_from_crawler()

# 發現上傳pickle網站讀取還是很慢＠＠

Error fetching table data: 500 Server Error: Internal Server Error for url: https://backtest-2.onrender.com/tables/etf_domestic_list
Error fetching table data: 500 Server Error: Internal Server Error for url: https://backtest-2.onrender.com/tables/etf_performance
從api下載完畢並存至pickle

# 繼續處理pickle資料

In [2]:
from collection.crawler.stock_history import get_history, get_etf_history
from app_tools.pickle_handler import save_data, load_data

In [3]:

all_yield = load_data('all_yield')
# filter_yield = [item for item in all_yield if item['現金殖利率'] > (value/100)]

In [4]:
all_yield['code']

0       1808.TW
1       2548.TW
2       9933.TW
3       2204.TW
4       2006.TW
         ...
124    3529.TWO
125     3706.TW
126    5274.TWO
127     2002.TW
128     6415.TW
Name: code, Length: 129, dtype: object

In [23]:
all_yield = load_data('all_yield')
type(all_yield)
import pandas as pd 
df = pd.DataFrame(all_yield)
df['code'] = df['代號']

tpex_listed = load_data("tpex_listed")

if '1240' in list(tpex_listed['code']):
    print("test")

test

In [25]:
list(df['code'])

[1808,
 2548,
 9933,
 2204,
 2006,
 2303,
 1722,
 6005,
 1102,
 6147,
 2206,
 4763,
 2404,
 2211,
 1210,
 3034,
 6121,
 2504,
 5522,
 2301,
 6488,
 3005,
 6412,
 4938,
 4904,
 6176,
 2912,
 2201,
 2385,
 2451,
 9941,
 1402,
 5434,
 2412,
 3045,
 4915,
 2474,
 8112,
 2324,
 2454,
 1504,
 3702,
 2606,
 3044,
 2105,
 3023,
 6285,
 1319,
 6239,
 2637,
 4919,
 2357,
 1216,
 3293,
 8046,
 2377,
 2317,
 2356,
 2379,
 2392,
 2382,
 2634,
 3711,
 6505,
 2353,
 2395,
 8454,
 3231,
 4958,
 1476,
 3008,
 9910,
 2352,
 1101,
 6414,
 2363,
 2354,
 2027,
 1326,
 5347,
 2360,
 2345,
 2383,
 2542,
 8069,
 6409,
 2308,
 6781,
 2915,
 3036,
 3037,
 3406,
 1609,
 6669,
 2330,
 2492,
 8299,
 3533,
 4966,
 1301,
 2376,
 1590,
 6223,
 3376,
 9914,
 6274,
 1605,
 2327,
 3035,
 8996,
 1303,
 2049,
 1513,
 6472,
 2059,
 6531,
 3443,
 3661,
 3017,
 3653,
 1519,
 1503,
 3324,
 9958,
 3529,
 3706,
 5274,
 2002,
 6415]

In [12]:
df = load_data("all_etf_history")

In [13]:
type(df)
df['0050.TW']['Date']
# df['2330.TW']['Date']

1614   2014-07-14
1615   2014-07-15
1616   2014-07-16
1617   2014-07-17
1618   2014-07-18
          ...
4051   2024-07-03
4052   2024-07-04
4053   2024-07-05
4054   2024-07-08
4055   2024-07-09
Name: Date, Length: 2442, dtype: datetime64[ns]

# 把資料存到後端api看看 讀取速度

In [7]:
codes = api_code()
# 129
print(len(codes))
all_df = {}
for code in codes:
    df = api_history(code)
    all_df[code] = df

129

In [9]:
all_df.keys()

dict_keys(['1808.TW', '2548.TW', '9933.TW', '2204.TW', '2006.TW', '2303.TW', '1722.TW', '6005.TW', '1102.TW', '6147.TWO', '2206.TW', '4763.TW', '2404.TW', '2211.TW', '1210.TW', '3034.TW', '6121.TWO', '2504.TW', '5522.TW', '2301.TW', '6488.TWO', '3005.TW', '6412.TW', '4938.TW', '4904.TW', '6176.TW', '2912.TW', '2201.TW', '2385.TW', '2451.TW', '9941.TW', '1402.TW', '5434.TW', '2412.TW', '3045.TW', '4915.TW', '2474.TW', '8112.TW', '2324.TW', '2454.TW', '1504.TW', '3702.TW', '2606.TW', '3044.TW', '2105.TW', '3023.TW', '6285.TW', '1319.TW', '6239.TW', '2637.TW', '4919.TW', '2357.TW', '1216.TW', '3293.TWO', '8046.TW', '2377.TW', '2317.TW', '2356.TW', '2379.TW', '2392.TW', '2382.TW', '2634.TW', '3711.TW', '6505.TW', '2353.TW', '2395.TW', '8454.TW', '3231.TW', '4958.TW', '1476.TW', '3008.TW', '9910.TW', '2352.TW', '1101.TW', '6414.TW', '2363.TW', '2354.TW', '2027.TW', '1326.TW', '5347.TWO', '2360.TW', '2345.TW', '2383.TW', '2542.TW', '8069.TWO', '6409.TW', '2308.TW', '6781.TW', '2915.TW', '3036.TW', '3037.TW', '3406.TW', '1609.TW', '6669.TW', '2330.TW', '2492.TW', '8299.TWO', '3533.TW', '4966.TWO', '1301.TW', '2376.TW', '1590.TW', '6223.TWO', '3376.TW', '9914.TW', '6274.TWO', '1605.TW', '2327.TW', '3035.TW', '8996.TW', '1303.TW', '2049.TW', '1513.TW', '6472.TW', '2059.TW', '6531.TW', '3443.TW', '3661.TW', '3017.TW', '3653.TW', '1519.TW', '1503.TW', '3324.TWO', '9958.TW', '3529.TWO', '3706.TW', '5274.TWO', '2002.TW', '6415.TW'])

In [1]:
from collection.api_data import api_etf_code,api_etf_history, api_history, api_code
test = api_etf_code()
test[0]

'0050.TW'

In [2]:
test2 = api_etf_history('0050.TW')
test3 = api_history('2330.TW')

In [3]:
import pandas as pd
df = pd.DataFrame(test2)
df3 = pd.DataFrame(test3)

In [4]:
df3

       Close                           Date
0      132.5  Mon, 14 Jul 2014 00:00:00 GMT
1      133.0  Tue, 15 Jul 2014 00:00:00 GMT
2      130.5  Wed, 16 Jul 2014 00:00:00 GMT
3      124.5  Thu, 17 Jul 2014 00:00:00 GMT
4      123.5  Fri, 18 Jul 2014 00:00:00 GMT
...      ...                            ...
2432   979.0  Wed, 03 Jul 2024 00:00:00 GMT
2433  1005.0  Thu, 04 Jul 2024 00:00:00 GMT
2434  1005.0  Fri, 05 Jul 2024 00:00:00 GMT
2435  1035.0  Mon, 08 Jul 2024 00:00:00 GMT
2436  1040.0  Tue, 09 Jul 2024 00:00:00 GMT

[2437 rows x 2 columns]