# pre-load data

In [3]:
# 儲存與讀取 暫存檔
from app_tools.pickle_handler import save_data, load_data
# 先執行 初始化 在讀檔
# import preload.data_loader as loader
# loader.initialize_data()

In [4]:
# 測試讀檔與資料
# loader.etf_domestic_list
# loader.etf_performance
# loader.twse_listed
# loader.tpex_listed
# loader.all_yield
# loader.all_history

# update data (pickle)

In [1]:
from preload.data_update import update_from_api, update_from_crawler
# update_from_api()
update_from_crawler()

# 發現上傳pickle網站讀取還是很慢＠＠

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

從crawler下載完畢並存至pickle

# 繼續處理pickle資料

In [4]:
from collection.crawler.stock_history import get_history, get_etf_history
from app_tools.pickle_handler import save_data, load_data

In [5]:
df = load_data("all_etf_history")

In [7]:
df

{'0050.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2008-01-02   60.009998   60.009998   60.009998   60.009998   42.624237
 1    2008-01-03   58.889999   58.889999   58.889999   58.889999   41.828716
 2    2008-01-04   59.009998   59.009998   59.009998   59.009998   41.913948
 3    2008-01-07   56.389999   56.389999   56.389999   56.389999   40.052998
 4    2008-01-08   56.980000   56.980000   56.980000   56.980000   40.472069
 ...         ...         ...         ...         ...         ...         ...
 4050 2024-07-02  185.949997  186.750000  184.500000  185.350006  185.350006
 4051 2024-07-03  187.600006  187.600006  186.399994  187.600006  187.600006
 4052 2024-07-04  190.600006  192.649994  190.600006  192.500000  192.500000
 4053 2024-07-05  192.600006  192.850006  191.550003  191.800003  191.800003
 4054 2024-07-08  191.899994  198.500000  191.850006  197.850006  197.850006

         Volume
 0            0
 1            0
 2            0
 3            0
 4            0
 ...        ...
 4050   5444336
 4051   6478757
 4052  12644207
 4053   9733333
 4054  17945983

 [4055 rows x 7 columns],
 '0051.TW':            Date       Open       High        Low      Close  Adj Close  Volume
 0    2008-01-02  33.139999  33.139999  33.139999  33.139999  23.440453       0
 1    2008-01-03  32.549999  32.549999  32.549999  32.549999  23.023132       0
 2    2008-01-04  32.730000  32.730000  32.730000  32.730000  23.150450       0
 3    2008-01-07  31.250000  31.250000  31.250000  31.250000  22.103626       0
 4    2008-01-08  31.389999  31.389999  31.389999  31.389999  22.202648       0
 ...         ...        ...        ...        ...        ...        ...     ...
 4050 2024-07-02  84.150002  84.150002  83.400002  83.650002  83.650002   51029
 4051 2024-07-03  84.550003  84.750000  84.199997  84.550003  84.550003   59136
 4052 2024-07-04  86.199997  86.199997  84.949997  85.250000  85.250000   42032
 4053 2024-07-05  85.650002  85.650002  85.349998  85.550003  85.550003   41116
 4054 2024-07-08  85.650002  85.650002  84.550003  85.250000  85.250000  129852

 [4055 rows x 7 columns],
 '0052.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2008-01-02   40.139999   40.139999   40.139999   40.139999   26.282555
 1    2008-01-03   39.099998   39.099998   39.099998   39.099998   25.601589
 2    2008-01-04   38.639999   38.639999   38.639999   38.639999   25.300400
 3    2008-01-07   36.160000   36.160000   36.160000   36.160000   23.676558
 4    2008-01-08   35.820000   35.820000   35.820000   35.820000   23.453938
 ...         ...         ...         ...         ...         ...         ...
 4043 2024-07-02  184.149994  184.800003  182.350006  182.899994  182.899994
 4044 2024-07-03  184.800003  185.149994  184.149994  184.899994  184.899994
 4045 2024-07-04  188.199997  190.699997  188.199997  190.699997  190.699997
 4046 2024-07-05  191.399994  191.399994  189.699997  189.800003  189.800003
 4047 2024-07-08  190.800003  196.800003  190.000000  195.850006  195.850006

        Volume
 0           0
 1           0
 2           0
 3           0
 4           0
 ...       ...
 4043   734022
 4044   386583
 4045  1301072
 4046   903472
 4047  2296355

 [4048 rows x 7 columns],
 '0053.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2008-01-02   26.139999   26.139999   26.139999   26.139999   18.603313
 1    2008-01-03   25.500000   25.500000   25.500000   25.500000   18.147837
 2    2008-01-04   25.209999   25.209999   25.209999   25.209999   17.941448
 3    2008-01-07   23.670000   23.670000   23.670000   23.670000   16.845463
 4    2008-01-08   23.459999   23.459999   23.459999   23.459999   16.696009
 ...         ...         ...         ...         ...         ...         ...
 4050 2024-07-02  102.300003  102.300003  101.000000  101.349998  101.349998
 4051 2024-07-03  101.599998  102.150002  101.500000  102.150002  102.150002
 4052 2024-07-04  103.150002  104.199997  103.150002  104.199997  104.199997
 4053 2024-07-05  104.449997  104.500000  104.449997  104.500000  104.500000
 4054 2024-07-08  104.500000  107.750000  104.500000  107.699997  107.699997

       Volume
 0          0
 1          0
 2          0
 3          0
 4          0
 ...      ...
 4050   45001
 4051   10060
 4052   25016
 4053    9100
 4054   36978

 [4055 rows x 7 columns],
 '0055.TW':            Date       Open       High        Low      Close  Adj Close  Volume
 0    2008-01-02  12.800000  12.800000  12.800000  12.800000   9.016361       0
 1    2008-01-03  12.660000  12.660000  12.660000  12.660000   8.917743       0
 2    2008-01-04  13.150000  13.150000  13.150000  13.150000   9.262902       0
 3    2008-01-07  12.820000  12.820000  12.820000  12.820000   9.030449       0
 4    2008-01-08  13.250000  13.250000  13.250000  13.250000   9.333344       0
 ...         ...        ...        ...        ...        ...        ...     ...
 4050 2024-07-02  27.690001  27.850000  27.590000  27.760000  27.760000  156000
 4051 2024-07-03  27.740000  28.510000  27.740000  28.500000  28.500000  709706
 4052 2024-07-04  28.809999  28.809999  28.500000  28.580000  28.580000  259438
 4053 2024-07-05  28.639999  28.760000  28.629999  28.700001  28.700001  200000
 4054 2024-07-08  28.740000  28.889999  28.650000  28.840000  28.840000  329203

 [4055 rows x 7 columns],
 '0056.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2008-01-02  25.700001  25.700001  25.700001  25.700001  13.617108
 1    2008-01-03  25.230000  25.230000  25.230000  25.230000  13.368081
 2    2008-01-04  25.510000  25.510000  25.510000  25.510000  13.516438
 3    2008-01-07  24.850000  24.850000  24.850000  24.850000  13.166736
 4    2008-01-08  25.379999  25.379999  25.379999  25.379999  13.447556
 ...         ...        ...        ...        ...        ...        ...
 4050 2024-07-02  41.290001  41.290001  40.860001  41.099998  41.099998
 4051 2024-07-03  41.340000  41.430000  41.240002  41.419998  41.419998
 4052 2024-07-04  41.580002  41.900002  41.560001  41.880001  41.880001
 4053 2024-07-05  41.900002  42.009998  41.849998  41.939999  41.939999
 4054 2024-07-08  41.950001  42.189999  41.790001  42.139999  42.139999

         Volume
 0            0
 1            0
 2            0
 3            0
 4            0
 ...        ...
 4050  70261055
 4051  33052473
 4052  33043359
 4053  36063478
 4054  37313771

 [4055 rows x 7 columns],
 '0057.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2008-02-14   30.000000   30.000000   30.000000   30.000000   28.825510
 1    2008-02-15   30.000000   30.000000   30.000000   30.000000   28.825510
 2    2008-02-18   29.910000   29.910000   29.910000   29.910000   28.739035
 3    2008-02-19   30.100000   30.100000   30.100000   30.100000   28.921597
 4    2008-02-20   29.590000   29.590000   29.590000   29.590000   28.431562
 ...         ...         ...         ...         ...         ...         ...
 4017 2024-07-02  136.899994  136.899994  136.399994  136.399994  136.399994
 4018 2024-07-03  137.300003  138.449997  137.300003  138.199997  138.199997
 4019 2024-07-04  141.199997  141.250000  140.899994  141.250000  141.250000
 4020 2024-07-05  141.250000  141.250000  140.800003  141.050003  141.050003
 4021 2024-07-08  141.800003  145.050003  141.800003  144.850006  144.850006

       Volume
 0          0
 1          0
 2          0
 3          0
 4          0
 ...      ...
 4017   13000
 4018   54059
 4019   25013
 4020   23029
 4021  176142

 [4022 rows x 7 columns],
 '006203.TW':            Date       Open       High        Low      Close  Adj Close  Volume
 0    2011-04-21  30.000000  30.000000  30.000000  30.000000  21.496584       0
 1    2011-04-22  30.000000  30.000000  30.000000  30.000000  21.496584       0
 2    2011-04-25  30.000000  30.000000  30.000000  30.000000  21.496584       0
 3    2011-04-26  30.000000  30.000000  30.000000  30.000000  21.496584       0
 4    2011-04-27  30.000000  30.000000  30.000000  30.000000  21.496584       0
 ...         ...        ...        ...        ...        ...        ...     ...
 3227 2024-07-02  87.800003  87.849998  87.800003  87.849998  87.849998    6027
 3228 2024-07-03  88.300003  88.750000  88.300003  88.750000  88.750000    5120
 3229 2024-07-04  90.449997  90.800003  90.150002  90.400002  90.400002   14060
 3230 2024-07-05  90.599998  90.599998  90.500000  90.500000  90.500000    4000
 3231 2024-07-08  91.400002  93.199997  91.400002  93.199997  93.199997   27272

 [3232 rows x 7 columns],
 '006204.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2011-09-06   36.830002   36.830002   36.830002   36.830002   25.634100
 1    2011-09-07   37.639999   37.639999   37.639999   37.639999   26.197868
 2    2011-09-08   37.740002   37.740002   37.740002   37.740002   26.267469
 3    2011-09-09   38.070000   38.070000   38.070000   38.070000   26.497150
 4    2011-09-13   36.950001   36.950001   36.950001   36.950001   25.717623
 ...         ...         ...         ...         ...         ...         ...
 3131 2024-07-02  114.250000  114.500000  113.949997  114.150002  114.150002
 3132 2024-07-03  115.150002  115.500000  115.150002  115.500000  115.500000
 3133 2024-07-04  117.099998  117.250000  117.099998  117.250000  117.250000
 3134 2024-07-05  117.949997  117.949997  117.400002  117.400002  117.400002
 3135 2024-07-08  118.000000  119.599998  118.000000  119.599998  119.599998

       Volume
 0          0
 1          0
 2          0
 3          0
 4          0
 ...      ...
 3131   68011
 3132   16063
 3133   22460
 3134    4015
 3135    8467

 [3136 rows x 7 columns],
 '006208.TW':            Date        Open        High         Low       Close   Adj Close  \
 0    2012-06-22   30.000000   30.000000   30.000000   30.000000   21.325485
 1    2012-06-25   30.000000   30.000000   30.000000   30.000000   21.325485
 2    2012-06-26   30.000000   30.000000   30.000000   30.000000   21.325485
 3    2012-06-27   30.000000   30.000000   30.000000   30.000000   21.325485
 4    2012-06-28   30.000000   30.000000   30.000000   30.000000   21.325485
 ...         ...         ...         ...         ...         ...         ...
 2936 2024-07-02  109.050003  109.500000  108.199997  108.599998  108.599998
 2937 2024-07-03  110.000000  110.000000  109.199997  109.849998  109.849998
 2938 2024-07-04  111.599998  112.750000  111.599998  112.650002  112.650002
 2939 2024-07-05  112.699997  112.949997  112.300003  112.400002  112.400002
 2940 2024-07-08  112.500000  116.199997  112.500000  115.599998  115.599998

         Volume
 0            0
 1            0
 2            0
 3            0
 4            0
 ...        ...
 2936   5963331
 2937   5678415
 2938   8582513
 2939   7106343
 2940  14686759

 [2941 rows x 7 columns],
 '00690.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2017-03-27  20.000000  20.000000  20.000000  20.000000  13.739766
 1    2017-03-28  20.000000  20.000000  20.000000  20.000000  13.739766
 2    2017-03-29  19.969999  19.969999  19.969999  19.969999  13.719155
 3    2017-03-30  19.910000  19.910000  19.910000  19.910000  13.677938
 4    2017-03-31  19.950001  20.000000  19.900000  19.910000  13.677938
 ...         ...        ...        ...        ...        ...        ...
 1770 2024-07-02  35.700001  35.700001  35.299999  35.509998  35.509998
 1771 2024-07-03  36.000000  36.000000  35.680000  35.820000  35.820000
 1772 2024-07-04  36.259998  36.450001  36.220001  36.419998  36.419998
 1773 2024-07-05  36.419998  36.450001  36.270000  36.320000  36.320000
 1774 2024-07-08  36.310001  37.160000  36.200001  37.080002  37.080002

        Volume
 0           0
 1           0
 2           0
 3           0
 4     2891000
 ...       ...
 1770  1185039
 1771   703486
 1772  1147492
 1773   566272
 1774   957331

 [1775 rows x 7 columns],
 '00692.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2017-05-04  20.000000  20.000000  20.000000  20.000000  14.237951
 1    2017-05-05  20.000000  20.000000  20.000000  20.000000  14.237951
 2    2017-05-08  20.000000  20.000000  20.000000  20.000000  14.237951
 3    2017-05-09  20.000000  20.000000  20.000000  20.000000  14.237951
 4    2017-05-10  20.000000  20.000000  20.000000  20.000000  14.237951
 ...         ...        ...        ...        ...        ...        ...
 1745 2024-07-02  44.130001  44.279999  43.759998  44.009998  44.009998
 1746 2024-07-03  44.560001  44.580002  44.200001  44.490002  44.490002
 1747 2024-07-04  45.060001  45.459999  45.060001  45.430000  45.430000
 1748 2024-07-05  45.439999  45.599998  45.310001  45.310001  45.310001
 1749 2024-07-08  45.340000  46.610001  45.320000  46.480000  46.480000

        Volume
 0           0
 1           0
 2           0
 3           0
 4           0
 ...       ...
 1745  3196338
 1746  2543163
 1747  5505969
 1748  2276685
 1749  7540685

 [1750 rows x 7 columns],
 '00701.TW':            Date   Open   High        Low      Close  Adj Close   Volume
 0    2017-08-09  20.00  20.00  20.000000  20.000000  15.103090        0
 1    2017-08-10  20.00  20.00  20.000000  20.000000  15.103090        0
 2    2017-08-11  20.00  20.00  20.000000  20.000000  15.103090        0
 3    2017-08-14  20.00  20.00  20.000000  20.000000  15.103090        0
 4    2017-08-15  20.00  20.00  20.000000  20.000000  15.103090        0
 ...         ...    ...    ...        ...        ...        ...      ...
 1677 2024-07-02  28.35  28.58  28.280001  28.469999  28.469999   730003
 1678 2024-07-03  28.60  29.07  28.580000  29.000000  29.000000  1607304
 1679 2024-07-04  29.16  29.27  29.100000  29.200001  29.200001  1499300
 1680 2024-07-05  29.24  29.35  29.230000  29.250000  29.250000   472897
 1681 2024-07-08  29.25  29.41  29.190001  29.350000  29.350000  1554118

 [1682 rows x 7 columns],
 '00713.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2017-09-19  30.000000  30.000000  30.000000  30.000000  20.020580
 1    2017-09-20  30.000000  30.000000  30.000000  30.000000  20.020580
 2    2017-09-21  30.000000  30.000000  30.000000  30.000000  20.020580
 3    2017-09-22  29.990000  29.990000  29.990000  29.990000  20.013910
 4    2017-09-25  29.969999  29.969999  29.969999  29.969999  20.000563
 ...         ...        ...        ...        ...        ...        ...
 1648 2024-07-02  58.150002  58.500000  57.900002  58.500000  58.500000
 1649 2024-07-03  59.000000  59.000000  58.400002  58.799999  58.799999
 1650 2024-07-04  58.950001  59.099998  58.750000  59.000000  59.000000
 1651 2024-07-05  59.150002  59.400002  59.049999  59.200001  59.200001
 1652 2024-07-08  59.099998  59.150002  58.799999  58.900002  58.900002

         Volume
 0            0
 1            0
 2            0
 3            0
 4            0
 ...        ...
 1648   8215078
 1649  11932642
 1650  14177164
 1651   9116609
 1652  20035531

 [1653 rows x 7 columns],
 '00730.TW':            Date       Open       High        Low      Close  Adj Close  Volume
 0    2018-01-30  20.000000  20.000000  20.000000  20.000000  14.384737       0
 1    2018-01-31  20.000000  20.000000  20.000000  20.000000  14.384737       0
 2    2018-02-01  20.000000  20.000000  20.000000  20.000000  14.384737       0
 3    2018-02-02  20.000000  20.000000  20.000000  20.000000  14.384737       0
 4    2018-02-05  20.000000  20.000000  20.000000  20.000000  14.384737       0
 ...         ...        ...        ...        ...        ...        ...     ...
 1557 2024-07-02  23.670000  23.850000  23.620001  23.690001  23.690001   88183
 1558 2024-07-03  23.900000  23.900000  23.490000  23.520000  23.520000  115232
 1559 2024-07-04  23.590000  23.590000  23.500000  23.570000  23.570000  175506
 1560 2024-07-05  23.610001  23.700001  23.510000  23.520000  23.520000  154290
 1561 2024-07-08  23.510000  23.600000  23.480000  23.559999  23.559999  302005

 [1562 rows x 7 columns],
 '00728.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2018-04-10  20.000000  20.000000  20.000000  20.000000  14.633395
 1    2018-04-11  20.000000  20.000000  20.000000  20.000000  14.633395
 2    2018-04-12  20.000000  20.000000  20.000000  20.000000  14.633395
 3    2018-04-13  19.980000  19.980000  19.980000  19.980000  14.618762
 4    2018-04-16  19.990000  19.990000  19.990000  19.990000  14.626080
 ...         ...        ...        ...        ...        ...        ...
 1517 2024-07-02  32.560001  32.599998  32.320000  32.430000  32.430000
 1518 2024-07-03  32.799999  32.799999  32.599998  32.700001  32.700001
 1519 2024-07-04  33.160000  33.459999  33.160000  33.450001  33.450001
 1520 2024-07-05  33.500000  33.610001  33.490002  33.520000  33.520000
 1521 2024-07-08  33.599998  34.160000  33.599998  34.040001  34.040001

        Volume
 0           0
 1           0
 2           0
 3           0
 4           0
 ...       ...
 1517   609001
 1518   139017
 1519   949225
 1520   654178
 1521  1344165

 [1522 rows x 7 columns],
 '00731.TW':            Date       Open       High        Low      Close  Adj Close  Volume
 0    2018-04-12  50.000000  50.000000  50.000000  50.000000  34.934013       0
 1    2018-04-13  49.980000  49.980000  49.980000  49.980000  34.920033       0
 2    2018-04-16  49.950001  49.950001  49.950001  49.950001  34.899067       0
 3    2018-04-17  49.740002  49.740002  49.740002  49.740002  34.752350       0
 4    2018-04-18  49.830002  49.830002  49.830002  49.830002  34.815231       0
 ...         ...        ...        ...        ...        ...        ...     ...
 1515 2024-07-02  77.949997  77.949997  77.199997  77.449997  77.449997  743852
 1516 2024-07-03  77.750000  77.800003  77.500000  77.750000  77.750000  593476
 1517 2024-07-04  78.250000  79.000000  78.250000  78.949997  78.949997  993555
 1518 2024-07-05  79.199997  79.349998  79.000000  79.199997  79.199997  766799
 1519 2024-07-08  79.199997  80.150002  79.150002  80.099998  80.099998  852516

 [1520 rows x 7 columns],
 '00733.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2018-05-04  20.000000  20.000000  20.000000  20.000000  15.323428
 1    2018-05-07  20.000000  20.000000  20.000000  20.000000  15.323428
 2    2018-05-08  20.000000  20.000000  20.000000  20.000000  15.323428
 3    2018-05-09  20.000000  20.000000  20.000000  20.000000  15.323428
 4    2018-05-10  20.000000  20.000000  20.000000  20.000000  15.323428
 ...         ...        ...        ...        ...        ...        ...
 1500 2024-07-02  59.599998  59.750000  59.200001  59.400002  59.400002
 1501 2024-07-03  59.500000  60.349998  59.500000  60.200001  60.200001
 1502 2024-07-04  60.400002  60.849998  60.400002  60.700001  60.700001
 1503 2024-07-05  60.849998  61.150002  60.849998  61.000000  61.000000
 1504 2024-07-08  61.250000  61.299999  60.750000  60.950001  60.950001

        Volume
 0           0
 1           0
 2           0
 3           0
 4           0
 ...       ...
 1500  1698530
 1501  1808443
 1502  2381695
 1503  2405513
 1504  3491334

 [1505 rows x 7 columns],
 '00850.TW':            Date       Open       High        Low      Close  Adj Close  \
 0    2019-08-15  20.000000  20.000000  20.000000  20.000000  16.762743
 1    2019-08-16  20.000000  20.000000  20.000000  20.000000  16.762743
 2    2019-08-19  20.000000  20.000000  20.000000  20.000000  16.762743
 3    2019-08-20  20.000000  20.000000  20.000000  20.000000  16.762743
 4    2019-08-21  20.000000  20.000000  20.000000  20.000000  16.762743
 ...         ...        ...        ...        ...        ...        ...
 1185 2024-07-02  45.939999  45.990002  45.470001  45.650002  45.650002
 1186 2024-07-03  46.130001  46.200001  45.869999  46.180000  46.180000

# 把資料存到後端api看看 讀取速度

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed