In [1]:
from use_api.data_loader import all_yield

In [2]:
all_yield

[{'代號': 2637, '名稱': '慧洋-KY', '現金殖利率': 0.2363725031366948},
 {'代號': 1808, '名稱': '潤隆', '現金殖利率': 0.1430891188141226},
 {'代號': 2027, '名稱': '大成鋼', '現金殖利率': 0.0898415548200055},
 {'代號': 9933, '名稱': '中鼎', '現金殖利率': 0.0751728308697494},
 {'代號': 6005, '名稱': '群益證', '現金殖利率': 0.0704862523843857},
 {'代號': 2548, '名稱': '華固', '現金殖利率': 0.0666741723748891},
 {'代號': 2204, '名稱': '中華', '現金殖利率': 0.0602732948476054},
 {'代號': 2006, '名稱': '東和鋼鐵', '現金殖利率': 0.0586292685794373},
 {'代號': 1722, '名稱': '台肥', '現金殖利率': 0.056821411012715},
 {'代號': 6147, '名稱': '頎邦', '現金殖利率': 0.0552533973405125},
 {'代號': 2211, '名稱': '長榮鋼', '現金殖利率': 0.0550509888146614},
 {'代號': 2303, '名稱': '聯電', '現金殖利率': 0.0544220224935154},
 {'代號': 1102, '名稱': '亞泥', '現金殖利率': 0.0534097658715585},
 {'代號': 2404, '名稱': '漢唐', '現金殖利率': 0.0532939415342397},
 {'代號': 2301, '名稱': '光寶科', '現金殖利率': 0.0532073874219834},
 {'代號': 2206, '名稱': '三陽工業', '現金殖利率': 0.0522385242631192},
 {'代號': 6121, '名稱': '新普', '現金殖利率': 0.0516103950691547},
 {'代號': 3034, '名稱': '聯詠', '現金殖利率': 0.0508948785119725},
 {'代號': 1402, '名稱': '遠東新', '現金殖利率': 0.050567710433105},
 {'代號': 1210, '名稱': '大成', '現金殖利率': 0.0503785664839393},
 {'代號': 4763, '名稱': '材料-KY', '現金殖利率': 0.0498471185823226},
 {'代號': 2504, '名稱': '國產', '現金殖利率': 0.0470359985602594},
 {'代號': 5522, '名稱': '遠雄', '現金殖利率': 0.0456998505935797},
 {'代號': 2201, '名稱': '裕隆', '現金殖利率': 0.0446168185353078},
 {'代號': 6412, '名稱': '群電', '現金殖利率': 0.0440903399835569},
 {'代號': 4904, '名稱': '遠傳', '現金殖利率': 0.0437282641764304},
 {'代號': 2606, '名稱': '裕民', '現金殖利率': 0.043526487691541},
 {'代號': 4938, '名稱': '和碩', '現金殖利率': 0.0433157464212358},
 {'代號': 6176, '名稱': '瑞儀', '現金殖利率': 0.0423058264228745},
 {'代號': 2912, '名稱': '統一超', '現金殖利率': 0.0421623393605917},
 {'代號': 6488, '名稱': '環球晶', '現金殖利率': 0.0418847331234022},
 {'代號': 2451, '名稱': '創見', '現金殖利率': 0.0413994761183311},
 {'代號': 2385, '名稱': '群光', '現金殖利率': 0.0413624252636006},
 {'代號': 2454, '名稱': '聯發科', '現金殖利率': 0.040097449892586},
 {'代號': 3005, '名稱': '神基', '現金殖利率': 0.039779448717928},
 {'代號': 9941, '名稱': '裕融', '現金殖利率': 0.0396760617926943},
 {'代號': 2412, '名稱': '中華電', '現金殖利率': 0.0379173864664462},
 {'代號': 4915, '名稱': '致伸', '現金殖利率': 0.0374893514482161},
 {'代號': 1504, '名稱': '東元', '現金殖利率': 0.0374330499435256},
 {'代號': 3045, '名稱': '台灣大', '現金殖利率': 0.0372738124623262},
 {'代號': 8112, '名稱': '至上', '現金殖利率': 0.0368984150266882},
 {'代號': 2474, '名稱': '可成', '現金殖利率': 0.0368633352753636},
 {'代號': 5434, '名稱': '崇越', '現金殖利率': 0.0364511865429312},
 {'代號': 2324, '名稱': '仁寶', '現金殖利率': 0.0359652326980423},
 {'代號': 2105, '名稱': '正新', '現金殖利率': 0.03444578141337},
 {'代號': 3702, '名稱': '大聯大', '現金殖利率': 0.0338651657287398},
 {'代號': 1216, '名稱': '統一', '現金殖利率': 0.0334276071796863},
 {'代號': 3044, '名稱': '健鼎', '現金殖利率': 0.0332576294531291},
 {'代號': 3023, '名稱': '信邦', '現金殖利率': 0.0328497101067489},
 {'代號': 6239, '名稱': '力成', '現金殖利率': 0.0327846325633056},
 {'代號': 6285, '名稱': '啟碁', '現金殖利率': 0.0324726754689192},
 {'代號': 1319, '名稱': '東陽', '現金殖利率': 0.0314458368063296},
 {'代號': 2357, '名稱': '華碩', '現金殖利率': 0.0313731472093025},
 {'代號': 4919, '名稱': '新唐', '現金殖利率': 0.0299541550172556},
 {'代號': 8046, '名稱': '南電', '現金殖利率': 0.0291814120831595},
 {'代號': 2377, '名稱': '微星', '現金殖利率': 0.0289072430159513},
 {'代號': 3293, '名稱': '鈊象', '現金殖利率': 0.0281852980334657},
 {'代號': 8454, '名稱': '富邦媒', '現金殖利率': 0.0280845980454375},
 {'代號': 3008, '名稱': '大立光', '現金殖利率': 0.0278755150232451},
 {'代號': 2317, '名稱': '鴻海', '現金殖利率': 0.0273852633923637},
 {'代號': 2379, '名稱': '瑞昱', '現金殖利率': 0.0271193798800847},
 {'代號': 2363, '名稱': '矽統', '現金殖利率': 0.0269064566826751},
 {'代號': 2392, '名稱': '正崴', '現金殖利率': 0.0267109710029035},
 {'代號': 2382, '名稱': '廣達', '現金殖利率': 0.0262610072527783},
 {'代號': 6505, '名稱': '台塑化', '現金殖利率': 0.0261917372689415},
 {'代號': 2353, '名稱': '宏碁', '現金殖利率': 0.0261811807472991},
 {'代號': 2356, '名稱': '英業達', '現金殖利率': 0.02577847134834},
 {'代號': 2395, '名稱': '研華', '現金殖利率': 0.0253096943796605},
 {'代號': 2634, '名稱': '漢翔', '現金殖利率': 0.0249552829006295},
 {'代號': 3711, '名稱': '日月光投控', '現金殖利率': 0.0247622637063308},
 {'代號': 3231, '名稱': '緯創', '現金殖利率': 0.0246756178982388},
 {'代號': 1476, '名稱': '儒鴻', '現金殖利率': 0.0241988166515729},
 {'代號': 9910, '名稱': '豐泰', '現金殖利率': 0.0239661274365746},
 {'代號': 4958, '名稱': '臻鼎-KY', '現金殖利率': 0.0238420727835465},
 {'代號': 6414, '名稱': '樺漢', '現金殖利率': 0.0238296733842238},
 {'代號': 5347, '名稱': '世界', '現金殖利率': 0.0233390411037139},
 {'代號': 2354, '名稱': '鴻準', '現金殖利率': 0.0226204620421625},
 {'代號': 2360, '名稱': '致茂', '現金殖利率': 0.0218000246253878},
 {'代號': 2352, '名稱': '佳世達', '現金殖利率': 0.0217987446653987},
 {'代號': 1326, '名稱': '台化', '現金殖利率': 0.0216322635960919},
 {'代號': 1101, '名稱': '台泥', '現金殖利率': 0.0211099573041183},
 {'代號': 2308, '名稱': '台達電', '現金殖利率': 0.0207442159188192},
 {'代號': 2383, '名稱': '台光電', '現金殖利率': 0.0201022080767047},
 {'代號': 6409, '名稱': '旭隼', '現金殖利率': 0.0190768430994655},
 {'代號': 8069, '名稱': '元太', '現金殖利率': 0.0187619085662},
 {'代號': 6781, '名稱': 'AES-KY', '現金殖利率': 0.0186482708221814},
 {'代號': 2345, '名稱': '智邦', '現金殖利率': 0.0185510028888608},
 {'代號': 2915, '名稱': '潤泰全', '現金殖利率': 0.0181455235582544},
 {'代號': 1609, '名稱': '大亞', '現金殖利率': 0.018001829712597},
 {'代號': 3036, '名稱': '文曄', '現金殖利率': 0.0174997781148301},
 {'代號': 2542, '名稱': '興富發', '現金殖利率': 0.0172040405965489},
 {'代號': 3037, '名稱': '欣興', '現金殖利率': 0.0169788558032083},
 {'代號': 2492, '名稱': '華新科', '現金殖利率': 0.0164040088967171},
 {'代號': 3406, '名稱': '玉晶光', '現金殖利率': 0.0162145247695163},
 {'代號': 2376, '名稱': '技嘉', '現金殖利率': 0.0154730141287961},
 {'代號': 6669, '名稱': '緯穎', '現金殖利率': 0.0153863861620056},
 {'代號': 8299, '名稱': '群聯', '現金殖利率': 0.0153225992964097},
 {'代號': 2327, '名稱': '國巨', '現金殖利率': 0.0151108214965438},
 {'代號': 1301, '名稱': '台塑', '現金殖利率': 0.0149267919283661},
 {'代號': 4966, '名稱': '譜瑞-KY', '現金殖利率': 0.0149182715089499},
 {'代號': 3533, '名稱': '嘉澤', '現金殖利率': 0.0147218418584988},
 {'代號': 6223, '名稱': '旺矽', '現金殖利率': 0.0146073881269052},
 {'代號': 9914, '名稱': '美利達', '現金殖利率': 0.0144365611730429},
 {'代號': 1590, '名稱': '亞德客-KY', '現金殖利率': 0.0142853854981631},
 {'代號': 2330, '名稱': '台積電', '現金殖利率': 0.0142587024065112},
 {'代號': 6274, '名稱': '台燿', '現金殖利率': 0.0142476851924211},
 {'代號': 1605, '名稱': '華新', '現金殖利率': 0.0141539551886761},
 {'代號': 3376, '名稱': '新日興', '現金殖利率': 0.0134915783914875},
 {'代號': 3035, '名稱': '智原', '現金殖利率': 0.0129594703315528},
 {'代號': 8996, '名稱': '高力', '現金殖利率': 0.0119642667461576},
 {'代號': 1303, '名稱': '南亞', '現金殖利率': 0.0119067102544964},
 {'代號': 6531, '名稱': '愛普*', '現金殖利率': 0.0116596087531446},
 {'代號': 1513, '名稱': '中興電', '現金殖利率': 0.0114666100198163},
 {'代號': 6472, '名稱': '保瑞', '現金殖利率': 0.0114294865715829},
 {'代號': 2059, '名稱': '川湖', '現金殖利率': 0.0112207676323511},
 {'代號': 2002, '名稱': '中鋼', '現金殖利率': 0.0109040357214434},
 {'代號': 2049, '名稱': '上銀', '現金殖利率': 0.0109035687108265},
 {'代號': 3443, '名稱': '創意', '現金殖利率': 0.0105278499182474},
 {'代號': 3653, '名稱': '健策', '現金殖利率': 0.0095481597594118},
 {'代號': 3661, '名稱': '世芯-KY', '現金殖利率': 0.0093066838739887},
 {'代號': 3017, '名稱': '奇鋐', '現金殖利率': 0.0090466490231526},
 {'代號': 3706, '名稱': '神達', '現金殖利率': 0.0086517545509964},
 {'代號': 1519, '名稱': '華城', '現金殖利率': 0.0084290940003888},
 {'代號': 1503, '名稱': '士電', '現金殖利率': 0.0080271305379985},
 {'代號': 9958, '名稱': '世紀鋼', '現金殖利率': 0.0079439443652934},
 {'代號': 3324, '名稱': '雙鴻', '現金殖利率': 0.0075388418580846},
 {'代號': 3529, '名稱': '力旺', '現金殖利率': 0.0072808866770065},
 {'代號': 5274, '名稱': '信驊', '現金殖利率': 0.0047916933044572},
 {'代號': 6415, '名稱': '矽力*-KY', '現金殖利率': 0.0012253844483034}]

In [3]:
from app_tools.plot_creation import fetch_stock_data

df = fetch_stock_data("2330.TW")
df

[*********************100%%**********************]  1 of 1 completed

           Date         Open  ...    Adj Close        Volume
0    2000-01-04    69.649033  ...    34.369537  200662336736
1    2000-01-05    69.649033  ...    35.141819  402466805912
2    2000-01-06    70.822884  ...    34.369537  197545715802
3    2000-01-07    67.301331  ...    33.404053  235270344752
4    2000-01-10    69.649033  ...    34.562565  276171685539
...         ...          ...  ...          ...           ...
6101 2024-06-28   956.000000  ...   966.000000      39138210
6102 2024-07-01   968.000000  ...   968.000000      19935737
6103 2024-07-02   967.000000  ...   960.000000      25427569
6104 2024-07-03   976.000000  ...   979.000000      24070411
6105 2024-07-04  1000.000000  ...  1005.000000      44988203

[6106 rows x 7 columns]

In [1]:
from use_api.data import get_all_plot_data
all_data = get_all_plot_data()

Attempting to fetch data for 2637.TW
Successfully fetched data for 2637.TW
Successfully added data for 2637.TW to all_data
Attempting to fetch data for 1808.TW
Successfully fetched data for 1808.TW
Successfully added data for 1808.TW to all_data
Attempting to fetch data for 2027.TW
Successfully fetched data for 2027.TW
Successfully added data for 2027.TW to all_data
Attempting to fetch data for 9933.TW
Successfully fetched data for 9933.TW
Successfully added data for 9933.TW to all_data
Attempting to fetch data for 6005.TW
Successfully fetched data for 6005.TW
Successfully added data for 6005.TW to all_data
Attempting to fetch data for 2548.TW
Successfully fetched data for 2548.TW
Successfully added data for 2548.TW to all_data
Attempting to fetch data for 2204.TW
Successfully fetched data for 2204.TW
Successfully added data for 2204.TW to all_data
Attempting to fetch data for 2006.TW
Successfully fetched data for 2006.TW
Successfully added data for 2006.TW to all_data
Attempting to fetch data for 1722.TW
Successfully fetched data for 1722.TW
Successfully added data for 1722.TW to all_data
Attempting to fetch data for 6147.TW

1 Failed download:
['6147.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 6147.TW: No data retrieved for 6147.TW
Error with 6147.TW: Unexpected error: No data retrieved for 6147.TW
Attempting to fetch data for 6147.TWO
Successfully fetched data for 6147.TWO
Successfully added data for 6147.TWO to all_data
Attempting to fetch data for 2211.TW
Successfully fetched data for 2211.TW
Successfully added data for 2211.TW to all_data
Attempting to fetch data for 2303.TW
Successfully fetched data for 2303.TW
Successfully added data for 2303.TW to all_data
Attempting to fetch data for 1102.TW
Successfully fetched data for 1102.TW
Successfully added data for 1102.TW to all_data
Attempting to fetch data for 2404.TW
Successfully fetched data for 2404.TW
Successfully added data for 2404.TW to all_data
Attempting to fetch data for 2301.TW
Successfully fetched data for 2301.TW
Successfully added data for 2301.TW to all_data
Attempting to fetch data for 2206.TW
Successfully fetched data for 2206.TW
Successfully added data for 2206.TW to all_data
Attempting to fetch data for 6121.TW

1 Failed download:
['6121.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 6121.TW: No data retrieved for 6121.TW
Error with 6121.TW: Unexpected error: No data retrieved for 6121.TW
Attempting to fetch data for 6121.TWO
Successfully fetched data for 6121.TWO
Successfully added data for 6121.TWO to all_data
Attempting to fetch data for 3034.TW
Successfully fetched data for 3034.TW
Successfully added data for 3034.TW to all_data
Attempting to fetch data for 1402.TW
Successfully fetched data for 1402.TW
Successfully added data for 1402.TW to all_data
Attempting to fetch data for 1210.TW
Successfully fetched data for 1210.TW
Successfully added data for 1210.TW to all_data
Attempting to fetch data for 4763.TW
Successfully fetched data for 4763.TW
Successfully added data for 4763.TW to all_data
Attempting to fetch data for 2504.TW
Successfully fetched data for 2504.TW
Successfully added data for 2504.TW to all_data
Attempting to fetch data for 5522.TW
Successfully fetched data for 5522.TW
Successfully added data for 5522.TW to all_data
Attempting to fetch data for 2201.TW
Successfully fetched data for 2201.TW
Successfully added data for 2201.TW to all_data
Attempting to fetch data for 6412.TW
Successfully fetched data for 6412.TW
Successfully added data for 6412.TW to all_data
Attempting to fetch data for 4904.TW
Successfully fetched data for 4904.TW
Successfully added data for 4904.TW to all_data
Attempting to fetch data for 2606.TW
Successfully fetched data for 2606.TW
Successfully added data for 2606.TW to all_data
Attempting to fetch data for 4938.TW
Successfully fetched data for 4938.TW
Successfully added data for 4938.TW to all_data
Attempting to fetch data for 6176.TW
Successfully fetched data for 6176.TW
Successfully added data for 6176.TW to all_data
Attempting to fetch data for 2912.TW
Successfully fetched data for 2912.TW
Successfully added data for 2912.TW to all_data
Attempting to fetch data for 6488.TW

1 Failed download:
['6488.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 6488.TW: No data retrieved for 6488.TW
Error with 6488.TW: Unexpected error: No data retrieved for 6488.TW
Attempting to fetch data for 6488.TWO
Successfully fetched data for 6488.TWO
Successfully added data for 6488.TWO to all_data
Attempting to fetch data for 2451.TW
Successfully fetched data for 2451.TW
Successfully added data for 2451.TW to all_data
Attempting to fetch data for 2385.TW
Successfully fetched data for 2385.TW
Successfully added data for 2385.TW to all_data
Attempting to fetch data for 2454.TW
Successfully fetched data for 2454.TW
Successfully added data for 2454.TW to all_data
Attempting to fetch data for 3005.TW
Successfully fetched data for 3005.TW
Successfully added data for 3005.TW to all_data
Attempting to fetch data for 9941.TW
Successfully fetched data for 9941.TW
Successfully added data for 9941.TW to all_data
Attempting to fetch data for 2412.TW
Successfully fetched data for 2412.TW
Successfully added data for 2412.TW to all_data
Attempting to fetch data for 4915.TW
Successfully fetched data for 4915.TW
Successfully added data for 4915.TW to all_data
Attempting to fetch data for 1504.TW
Successfully fetched data for 1504.TW
Successfully added data for 1504.TW to all_data
Attempting to fetch data for 3045.TW
Successfully fetched data for 3045.TW
Successfully added data for 3045.TW to all_data
Attempting to fetch data for 8112.TW
Successfully fetched data for 8112.TW
Successfully added data for 8112.TW to all_data
Attempting to fetch data for 2474.TW
Successfully fetched data for 2474.TW
Successfully added data for 2474.TW to all_data
Attempting to fetch data for 5434.TW
Successfully fetched data for 5434.TW
Successfully added data for 5434.TW to all_data
Attempting to fetch data for 2324.TW
Successfully fetched data for 2324.TW
Successfully added data for 2324.TW to all_data
Attempting to fetch data for 2105.TW
Successfully fetched data for 2105.TW
Successfully added data for 2105.TW to all_data
Attempting to fetch data for 3702.TW
Successfully fetched data for 3702.TW
Successfully added data for 3702.TW to all_data
Attempting to fetch data for 1216.TW
Successfully fetched data for 1216.TW
Successfully added data for 1216.TW to all_data
Attempting to fetch data for 3044.TW
Successfully fetched data for 3044.TW
Successfully added data for 3044.TW to all_data
Attempting to fetch data for 3023.TW
Successfully fetched data for 3023.TW
Successfully added data for 3023.TW to all_data
Attempting to fetch data for 6239.TW
Successfully fetched data for 6239.TW
Successfully added data for 6239.TW to all_data
Attempting to fetch data for 6285.TW
Successfully fetched data for 6285.TW
Successfully added data for 6285.TW to all_data
Attempting to fetch data for 1319.TW
Successfully fetched data for 1319.TW
Successfully added data for 1319.TW to all_data
Attempting to fetch data for 2357.TW
Successfully fetched data for 2357.TW
Successfully added data for 2357.TW to all_data
Attempting to fetch data for 4919.TW
Successfully fetched data for 4919.TW
Successfully added data for 4919.TW to all_data
Attempting to fetch data for 8046.TW
Successfully fetched data for 8046.TW
Successfully added data for 8046.TW to all_data
Attempting to fetch data for 2377.TW
Successfully fetched data for 2377.TW
Successfully added data for 2377.TW to all_data
Attempting to fetch data for 3293.TW

1 Failed download:
['3293.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 3293.TW: No data retrieved for 3293.TW
Error with 3293.TW: Unexpected error: No data retrieved for 3293.TW
Attempting to fetch data for 3293.TWO
Successfully fetched data for 3293.TWO
Successfully added data for 3293.TWO to all_data
Attempting to fetch data for 8454.TW
Successfully fetched data for 8454.TW
Successfully added data for 8454.TW to all_data
Attempting to fetch data for 3008.TW
Successfully fetched data for 3008.TW
Successfully added data for 3008.TW to all_data
Attempting to fetch data for 2317.TW
Successfully fetched data for 2317.TW
Successfully added data for 2317.TW to all_data
Attempting to fetch data for 2379.TW
Successfully fetched data for 2379.TW
Successfully added data for 2379.TW to all_data
Attempting to fetch data for 2363.TW
Successfully fetched data for 2363.TW
Successfully added data for 2363.TW to all_data
Attempting to fetch data for 2392.TW
Successfully fetched data for 2392.TW
Successfully added data for 2392.TW to all_data
Attempting to fetch data for 2382.TW
Successfully fetched data for 2382.TW
Successfully added data for 2382.TW to all_data
Attempting to fetch data for 6505.TW
Successfully fetched data for 6505.TW
Successfully added data for 6505.TW to all_data
Attempting to fetch data for 2353.TW
Successfully fetched data for 2353.TW
Successfully added data for 2353.TW to all_data
Attempting to fetch data for 2356.TW
Successfully fetched data for 2356.TW
Successfully added data for 2356.TW to all_data
Attempting to fetch data for 2395.TW
Successfully fetched data for 2395.TW
Successfully added data for 2395.TW to all_data
Attempting to fetch data for 2634.TW
Successfully fetched data for 2634.TW
Successfully added data for 2634.TW to all_data
Attempting to fetch data for 3711.TW
Successfully fetched data for 3711.TW
Successfully added data for 3711.TW to all_data
Attempting to fetch data for 3231.TW
Successfully fetched data for 3231.TW
Successfully added data for 3231.TW to all_data
Attempting to fetch data for 1476.TW
Successfully fetched data for 1476.TW
Successfully added data for 1476.TW to all_data
Attempting to fetch data for 9910.TW
Successfully fetched data for 9910.TW
Successfully added data for 9910.TW to all_data
Attempting to fetch data for 4958.TW
Successfully fetched data for 4958.TW
Successfully added data for 4958.TW to all_data
Attempting to fetch data for 6414.TW
Successfully fetched data for 6414.TW
Successfully added data for 6414.TW to all_data
Attempting to fetch data for 5347.TW

1 Failed download:
['5347.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 5347.TW: No data retrieved for 5347.TW
Error with 5347.TW: Unexpected error: No data retrieved for 5347.TW
Attempting to fetch data for 5347.TWO
Successfully fetched data for 5347.TWO
Successfully added data for 5347.TWO to all_data
Attempting to fetch data for 2354.TW
Successfully fetched data for 2354.TW
Successfully added data for 2354.TW to all_data
Attempting to fetch data for 2360.TW
Successfully fetched data for 2360.TW
Successfully added data for 2360.TW to all_data
Attempting to fetch data for 2352.TW
Successfully fetched data for 2352.TW
Successfully added data for 2352.TW to all_data
Attempting to fetch data for 1326.TW
Successfully fetched data for 1326.TW
Successfully added data for 1326.TW to all_data
Attempting to fetch data for 1101.TW
Successfully fetched data for 1101.TW
Successfully added data for 1101.TW to all_data
Attempting to fetch data for 2308.TW
Successfully fetched data for 2308.TW
Successfully added data for 2308.TW to all_data
Attempting to fetch data for 2383.TW
Successfully fetched data for 2383.TW
Successfully added data for 2383.TW to all_data
Attempting to fetch data for 6409.TW
Successfully fetched data for 6409.TW
Successfully added data for 6409.TW to all_data
Attempting to fetch data for 8069.TW

1 Failed download:
['8069.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 8069.TW: No data retrieved for 8069.TW
Error with 8069.TW: Unexpected error: No data retrieved for 8069.TW
Attempting to fetch data for 8069.TWO
Successfully fetched data for 8069.TWO
Successfully added data for 8069.TWO to all_data
Attempting to fetch data for 6781.TW
Successfully fetched data for 6781.TW
Successfully added data for 6781.TW to all_data
Attempting to fetch data for 2345.TW
Successfully fetched data for 2345.TW
Successfully added data for 2345.TW to all_data
Attempting to fetch data for 2915.TW
Successfully fetched data for 2915.TW
Successfully added data for 2915.TW to all_data
Attempting to fetch data for 1609.TW
Successfully fetched data for 1609.TW
Successfully added data for 1609.TW to all_data
Attempting to fetch data for 3036.TW
Successfully fetched data for 3036.TW
Successfully added data for 3036.TW to all_data
Attempting to fetch data for 2542.TW
Successfully fetched data for 2542.TW
Successfully added data for 2542.TW to all_data
Attempting to fetch data for 3037.TW
Successfully fetched data for 3037.TW
Successfully added data for 3037.TW to all_data
Attempting to fetch data for 2492.TW
Successfully fetched data for 2492.TW
Successfully added data for 2492.TW to all_data
Attempting to fetch data for 3406.TW
Successfully fetched data for 3406.TW
Successfully added data for 3406.TW to all_data
Attempting to fetch data for 2376.TW
Successfully fetched data for 2376.TW
Successfully added data for 2376.TW to all_data
Attempting to fetch data for 6669.TW
Successfully fetched data for 6669.TW
Successfully added data for 6669.TW to all_data
Attempting to fetch data for 8299.TW

1 Failed download:
['8299.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 8299.TW: No data retrieved for 8299.TW
Error with 8299.TW: Unexpected error: No data retrieved for 8299.TW
Attempting to fetch data for 8299.TWO
Successfully fetched data for 8299.TWO
Successfully added data for 8299.TWO to all_data
Attempting to fetch data for 2327.TW
Successfully fetched data for 2327.TW
Successfully added data for 2327.TW to all_data
Attempting to fetch data for 1301.TW
Successfully fetched data for 1301.TW
Successfully added data for 1301.TW to all_data
Attempting to fetch data for 4966.TW

1 Failed download:
['4966.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 4966.TW: No data retrieved for 4966.TW
Error with 4966.TW: Unexpected error: No data retrieved for 4966.TW
Attempting to fetch data for 4966.TWO
Successfully fetched data for 4966.TWO
Successfully added data for 4966.TWO to all_data
Attempting to fetch data for 3533.TW
Successfully fetched data for 3533.TW
Successfully added data for 3533.TW to all_data
Attempting to fetch data for 6223.TW

1 Failed download:
['6223.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 6223.TW: No data retrieved for 6223.TW
Error with 6223.TW: Unexpected error: No data retrieved for 6223.TW
Attempting to fetch data for 6223.TWO
Successfully fetched data for 6223.TWO
Successfully added data for 6223.TWO to all_data
Attempting to fetch data for 9914.TW
Successfully fetched data for 9914.TW
Successfully added data for 9914.TW to all_data
Attempting to fetch data for 1590.TW
Successfully fetched data for 1590.TW
Successfully added data for 1590.TW to all_data
Attempting to fetch data for 2330.TW
Successfully fetched data for 2330.TW
Successfully added data for 2330.TW to all_data
Attempting to fetch data for 6274.TW

1 Failed download:
['6274.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 6274.TW: No data retrieved for 6274.TW
Error with 6274.TW: Unexpected error: No data retrieved for 6274.TW
Attempting to fetch data for 6274.TWO
Successfully fetched data for 6274.TWO
Successfully added data for 6274.TWO to all_data
Attempting to fetch data for 1605.TW
Successfully fetched data for 1605.TW
Successfully added data for 1605.TW to all_data
Attempting to fetch data for 3376.TW
Successfully fetched data for 3376.TW
Successfully added data for 3376.TW to all_data
Attempting to fetch data for 3035.TW
Successfully fetched data for 3035.TW
Successfully added data for 3035.TW to all_data
Attempting to fetch data for 8996.TW
Successfully fetched data for 8996.TW
Successfully added data for 8996.TW to all_data
Attempting to fetch data for 1303.TW
Successfully fetched data for 1303.TW
Successfully added data for 1303.TW to all_data
Attempting to fetch data for 6531.TW
Successfully fetched data for 6531.TW
Successfully added data for 6531.TW to all_data
Attempting to fetch data for 1513.TW
Successfully fetched data for 1513.TW
Successfully added data for 1513.TW to all_data
Attempting to fetch data for 6472.TW
Successfully fetched data for 6472.TW
Successfully added data for 6472.TW to all_data
Attempting to fetch data for 2059.TW
Successfully fetched data for 2059.TW
Successfully added data for 2059.TW to all_data
Attempting to fetch data for 2002.TW
Successfully fetched data for 2002.TW
Successfully added data for 2002.TW to all_data
Attempting to fetch data for 2049.TW
Successfully fetched data for 2049.TW
Successfully added data for 2049.TW to all_data
Attempting to fetch data for 3443.TW
Successfully fetched data for 3443.TW
Successfully added data for 3443.TW to all_data
Attempting to fetch data for 3653.TW
Successfully fetched data for 3653.TW
Successfully added data for 3653.TW to all_data
Attempting to fetch data for 3661.TW
Successfully fetched data for 3661.TW
Successfully added data for 3661.TW to all_data
Attempting to fetch data for 3017.TW
Successfully fetched data for 3017.TW
Successfully added data for 3017.TW to all_data
Attempting to fetch data for 3706.TW
Successfully fetched data for 3706.TW
Successfully added data for 3706.TW to all_data
Attempting to fetch data for 1519.TW
Successfully fetched data for 1519.TW
Successfully added data for 1519.TW to all_data
Attempting to fetch data for 1503.TW
Successfully fetched data for 1503.TW
Successfully added data for 1503.TW to all_data
Attempting to fetch data for 9958.TW
Successfully fetched data for 9958.TW
Successfully added data for 9958.TW to all_data
Attempting to fetch data for 3324.TW

1 Failed download:
['3324.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 3324.TW: No data retrieved for 3324.TW
Error with 3324.TW: Unexpected error: No data retrieved for 3324.TW
Attempting to fetch data for 3324.TWO
Successfully fetched data for 3324.TWO
Successfully added data for 3324.TWO to all_data
Attempting to fetch data for 3529.TW

1 Failed download:
['3529.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 3529.TW: No data retrieved for 3529.TW
Error with 3529.TW: Unexpected error: No data retrieved for 3529.TW
Attempting to fetch data for 3529.TWO
Successfully fetched data for 3529.TWO
Successfully added data for 3529.TWO to all_data
Attempting to fetch data for 5274.TW

1 Failed download:
['5274.TW']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Unexpected error while fetching data for 5274.TW: No data retrieved for 5274.TW
Error with 5274.TW: Unexpected error: No data retrieved for 5274.TW
Attempting to fetch data for 5274.TWO
Successfully fetched data for 5274.TWO
Successfully added data for 5274.TWO to all_data
Attempting to fetch data for 6415.TW
Successfully fetched data for 6415.TW
Successfully added data for 6415.TW to all_data

In [6]:
type(all_data)
test = list(all_data)

In [12]:
test[1]

1808

In [14]:
all_data[1808]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-02-01,2.195963,2.195963,2.195963,2.195963,0.888514,158359
1,2000-02-02,2.195963,2.195963,2.195963,2.195963,0.888514,0
2,2000-02-03,2.195963,2.195963,2.195963,2.195963,0.888514,0
3,2000-02-04,2.195963,2.195963,2.195963,2.195963,0.888514,0
4,2000-02-07,2.195963,2.195963,2.195963,2.195963,0.888514,0
...,...,...,...,...,...,...,...
6081,2024-06-28,114.000000,114.000000,112.000000,112.500000,112.500000,1513244
6082,2024-07-01,113.000000,114.500000,111.500000,114.500000,114.500000,1722503
6083,2024-07-02,114.500000,114.500000,113.000000,114.500000,114.500000,849981
6084,2024-07-03,114.500000,115.000000,112.500000,112.500000,112.500000,2085878
6085,2024-07-04,113.000000,116.500000,113.000000,115.500000,115.500000,3001494